<footer>
  <div class="p-3 mb-2 bg-secondary text-white">
    <div class='container mt-5'>
  	  <div class='row'>
    	  <div class='mx-auto'>
    		  <p>https://github.com/gwx092/Landscape-Paingraphy.git</p>
    	  </div>
      </div>
    </div>
  </div>
</footer>